@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared Styles */

/* Display flex */
.display-flex {
    display: flex;
}

/* Display grid */
.display-grid {
    display: grid;
}

/* Button */
.button {
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    transition: 0.3s ease;
}

/* Color palette */
:root {
    --primary-color: #1A0B2E;
    --second-color: #00FF88;
    --third-color: #230E3D;
    --forth-color: rgba(53, 17, 101, 0.4);
    --fifth-color: #250D44;
    --font-color: #FFFFFF;
}


/* Header Section  styles*/
/* Navbar related styles */
.navbar {
    padding: 24px 5%;
    background-color: var(--primary-color);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
}

.menu {
    list-style: none;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: var(--font-color);
    opacity: 90%;
}

/* Banner or Hero Section related styles*/
.hero {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 101px 5px;
    width: 100%;
    min-height: 65vh;
}

.hero-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.circle {
    width: 400px;
    height: 400px;
    background-image: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle .badge {
    position: absolute;
    right: 2%;
    top: 12%;
    max-width: 75px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--second-color);
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.circle img {
    position: static;
    width: 35%;
}

.hero-content {
    max-width: 550px;
}

.hero-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
}

.hero-content p {
    opacity: 0.8;
    line-height: 25px;
    margin-bottom: 24px;
}

.hero-buttons button {
    text-align: center;
    gap: 8px;
}

.subscribe {
    font-weight: 600;
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 10000px;
    padding: 12px 20px;
    background: none;
}


/* Podcast Section styles */
.podcast {
    padding: 50px 10px 120px 10px;
    background-color: var(--primary-color);
}

.podcast-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.podcast-content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.podcast-content p {
    opacity: 0.8;
    line-height: 30px;
    margin-bottom: 75px;
}

.podcast-container hr {
    opacity: 0.1;
}

/* Number Cards */
.number-container {
    margin-top: 75px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    gap: 80px;
}

.number-container .content h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    color: var(--second-color);
}

.number-container .content p {
    opacity: 0.8;
    line-height: 20px;
}


/* Why Choose Techwave Section styles */
.techwave {
    background-color: var(--third-color);
    padding: 120px 10px;
}

.techwave-container {
    margin: 0 auto;
    max-width: 1200px;
}

.techwave-container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.cards-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 40px;
    border-radius: 40px;
    background-color: var(--forth-color);
}

.card h2 {
    font-size: 1.5;
    font-weight: 700;
}

.card p {
    line-height: 24px;
    opacity: 0.6;
}

/* Grid layout design */
.headphone {
    grid-column: span 2;
    grid-row: span 2;
}

.mobile,
.global {
    grid-column: span 4;
    grid-row: span 1;
}

.exclusive {
    grid-column: span 4;
    grid-row: span 1;
}

.resource {
    grid-column: span 2;
    grid-row: span 1;
}


/* Featured and Host Section */
.social-media {
    padding: 120px 10px;
    background-color: var(--primary-color);
}

.social-media-contents {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

/* Featured Episodes styles */
.feature-container h1,
.host-container h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.video-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.video iframe {
    border-radius: 24px 24px 0px 0px;
}

.video-content {
    background-color: var(--fifth-color);
    border-radius: 0px 0px 24px 24px;
    padding: 24px;
    flex-direction: column;
    gap: 12px;
}

.video-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.video-content p,
.host-details p {
    line-height: 24px;
    opacity: 0.6;
}

.video-content .time {
    font-weight: 600;
    color: var(--second-color);
    opacity: 1;
}

/* Meet The Host styles */
.host-content {
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    background-color: var(--forth-color);
    padding: 40px;
}

.host-details {
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.host-details h2 {
    font-size: 2rem;
    font-weight: 700;
}

.host-details ul {
    gap: 8px;
    list-style: none;
}






/* Media Query for Mobile */
@media screen and (max-width: 576px) {

    /* Navbar styles */
    .logo {
        max-width: 137px;
    }

    .hamburger-menu {
        display: flex;
    }

    .menu,
    .nav-button {
        display: none;
    }

    /* Banner styles */
    .hero {
        min-height: 50vh;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .circle .badge {
        top: 1%;
    }

    .circle img {
        width: 25%;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    /* All section styles */
    .podcast,
    .techwave,
    .social-media {
        padding: 40px 20px;
    }

    /* Podcast styles */
    .podcast-content h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .podcast-content p {
        line-height: 20px;
        margin-bottom: 30px;
    }

    .number-container {
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .number-container .content h1 {
        font-size: 1.5rem;
        line-height: 48px;
    }

    .number-container {
        gap: 20px;
    }

    /* Techwave styles */
    .techwave {
        padding: 40px 10px;
    }

    .techwave-container h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
    }

    .card {
        padding: 24px;
        border-radius: 24px;
    }

    .card h2 {
        font-size: 1.375rem;
    }

    .headphone,
    .mobile,
    .global,
    .exclusive,
    .resource {
        grid-column: span 1;
        grid-row: span 1;
    }

    /* Social media */
    .social-media-contents {
        gap: 60px;
    }

    /* Featured styles */

    .feature-container h1,
    .host-container h1 {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    .video-container {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .video iframe {
        width: 100%;
    }

    .video-content {
        gap: 8px;
        padding: 12px;
    }

    .video-content h2 {
        font-size: 1.25rem;
    }

    /* Host styles */
    .host-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }

    .host-details {
        text-align: center;
    }

    .host-details h2 {
        font-size: 1.5rem;
    }

    .host-details ul {
        justify-content: center;
    }

}